
img {
  padding: 10px;
  opacity: .8;
}

img:hover {
  opacity: 1;
  cursor: pointer;
}

img:active {
 opacity: .8;
}

.centerer {
  text-align: center;
}

body {
  margin-left: 25px;
  margin-right: 25px;
}

h1, h3 {
  font-family: lato;
}

